<div
  fxLayout
  fxLayout.lt-md="column wrap"
  fxLayoutAlign="center center"
  fxLayoutGap.gt-sm="250px"
  fxLayoutGap.lt.md="20px"
>
  <mat-form-field>
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  <div>
    <a [routerLink]="['/empleado/create']" mat-button color="primary"
      >Create Owner</a
    >
  </div>
</div>
<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date}} </td>
  </ng-container> -->

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>telefono</th>
    <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Detalles</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="redirectToDetails(element.id)"
      >
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Actualizar</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="accent"
        (click)="redirectToUpdate(element.id)"
      >
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Borrar</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="warn"
        (click)="redirectToDelete(element.id)"
      >
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>
